body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2vw;
    background-color: #35424a;
    color: white;
    position: relative;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.cart {
    font-size: 1.2rem;
    cursor: pointer;
}
.menu-btn {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
        display: none;
        background-color: #35424a;
        width: 100%;
        position: absolute;
        top: 55px;
        left: 0;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .menu-btn {
        display: block;
    }
}